[Unit]
Description=AMWA Backend (Uvicorn)
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/amwa

Environment="PATH=/home/pi/amwa/.venv/bin:/usr/bin"
Environment="PYTHONUNBUFFERED=1"

ExecStart=uvicorn app.api:app \
    --host 127.0.0.1 \
    --port 8000 \
    --timeout-graceful-shutdown 1 \
    --log-config /home/pi/amwa/logging.conf

Restart=always
RestartSec=3

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target